{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PBOBot{% endblock title %}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&family=Noto+Sans:wght@400;500;700;900&family=Public+Sans:wght@400;500;700;900">
    
    <!-- Our General Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- Block for page-specific stylesheets -->
    {% block page_specific_css %}{% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#005a9c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <div class="layout-container">
        <header class="site-header">
            <div class="container header-container">
                    <div class="logo-container">
                        <!-- The logo text is now the main brand identifier -->
                        <a href="{% url 'pages:home' %}" class="logo-text">Amicus NPO</a>
                    </div>
                    <nav class="header-nav">
                        <div class="nav-links">
                            <a href="{% url 'pages:home' %}">Home</a>
                            <a href="{% url 'pboapp:structure_selector' %}">Structure Selector</a>
                            <a href="{% url 'pboapp:structure_setup' 'npc' %}">Register an NPO</a>
                        </div>
                    </nav>
                </div>
            </header>

        <main class="main-content">
            {% block content %}
            <!-- Page-specific content will be injected here -->
            {% endblock content %}
        </main>

        <footer class="site-footer">
            <div class="container">
                <p>© {% now "Y" %} Amicus NPO. All rights reserved.</p>
                <p class="footer-subtitle">Simplifying non-profit registration in South Africa.</p>
            </div>
        </footer>

        {% block extra_scripts %}
        {% endblock extra_scripts %}

    </div>
</body>
</html>